.authors {
    display: flex;
    float: left;
}

.authors div {
    margin-left: 1em;
}

body {
    background-color: black;
}

header {
    border-bottom: 0.1em;
    display: flex;
    float: right;
}